.userBlock {
  display: flex;
}

.user {
  font-size: 2.5rem;
  font-weight: 600;
  color: black;
  background-color: antiquewhite;
  margin: 30px 300px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 20px;
}

.data {
  color: blue;
  font-size: 2rem;
}
